.nav-container { 
    display: flex;
    justify-content: center;
}

.nav-menu {
    width: 60px;
    height: 100vh; 
    padding: 10px; 
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a; 
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    overflow: hidden;
    font-size: 30px;
    color: #fff;
    z-index: 1; 
}

.nav-links {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    gap: 60px;
    text-decoration: none;
    list-style: none;
}

li a {
    color: #fafafa;
    transition: 200ms ease-in-out;
}

li a:hover {
    color: #939292;
    text-shadow: 0 0 40px 40px #686868 inset;
}


/* Phone */
@media screen and (max-width: 481px) {
.nav-menu {
    width: 100%;
    height: 70px; 
    padding: 10px; 
    position: fixed;
    font-size: 40px; 
}

.nav-links {
    display: flex; 
    flex-direction: row;
}
}

@media screen and (max-width: 375px) {
.nav-menu {
    width: 100%;
    font-size: 30px; 
}
}