.portfolio-container {
  scroll-margin-top: 200px;
  margin-top: 50px; 
  width: 100%; 
  min-height: 1100px; 
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px; 
  animation: scroll-fade ease-in-out both;
  animation-timeline: view(); 
  animation-range: 0vh 100vh; 
}

.portfolio-title:before {
  left: 0;
  right: 0;
  top: -50px;
  content: "portfolio";
  position: absolute;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  font-size: 170px;
  font-weight: 400;
  color: #05050515;
  text-shadow: none; 
  filter: blur(3px);  
}

.portfolio-title {
  width: 100%;
  font-size: 80px;
  font-family: "Playwrite DK Loopet", cursive;
  font-weight: 300;
  text-transform: lowercase;
  color: #fafafa;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.288);
  text-align: center;
  animation: scroll-fade ease-in both;
  animation-timeline: view(); 
  animation-range: 0vh 70vh; 
  margin-bottom: 40px; 
}

@keyframes scroll-fade {
  from {
    opacity: 0;
    translate: 0 150px;
  }
}

.card-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 30px; 
  margin-bottom: 40px; 
}

/* Tablet */ 
@media screen and (max-width: 769px) {
.portfolio-container {
    height: 100%; 
}

.portfolio-title:before {
    top: -15px;
    font-size: 80px;
}

.portfolio-title {
    font-size: 45px;
}

.card-container {
  gap: 5px;
}
}


/* Phone */
@media screen and (max-width: 481px) {
  .portfolio-container {
    height: 100%; 
}

.portfolio-title:before {
    top: -10px;
    font-size: 60px;
}

.portfolio-title {
    font-size: 40px;
}

.card-container {
  gap: 5px;
  margin-bottom: 10px; 
}
}

@media screen and (max-width: 375px) {
.portfolio-title:before {
  font-size: 50px;
}

.portfolio-title {
  font-size: 30px;
}
}

.card-container {
  gap: 0px;
  margin-bottom: 0px; 
  margin-top: 5px;
}